h3{
    text-align: center  ;
    /* color: aliceblue; */

}

#rcorners2 {
    border-radius: 25px;
    border: 2px solid  gray;
    padding: 20px !important;
    width: 650px;
    height: 550px;
    margin-left: 25% !important; 
    padding: 0px;
    margin: 0px;
    box-shadow: 20%;
    
  }

  /* label {
      color: aliceblue;
  }
  body {
    background-image: url("../image/black.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  } */