<!DOCTYPE html>
<html lang="en">

<head>
    <title>Delete Employee</title>
    <link rel="stylesheet" type="text/css" href="/Client/src/app/components/hr-dashboard/manage-emp/delete-emp/delete-emp.component.ts">

</head>

<body>
    <div class="page-header">
        <div class="mb-sm-3">
            <h3>Delete Employee</h3>
        </div>
    </div>

    <div class="container">

        <form #deleteForm="ngForm" (ngSubmit)="onDelete(deleteForm)" ngNativeValidate>
            <div id="rcorners2">
                <div class="mb-sm-3">
                   
                        <div class="col">
                            <label for="empId">Employee ID:</label>
                            <input type="text" class="form-control" [(ngModel)]="empID" placeholder="Enter Employee ID"
                    name="empID" required>
                        </div>
                    
                </div>
                    <div class="mb-sm-3">
                        <div class="col">
                            <label for="name">Email:</label>
                            <input type="name" class="form-control" [(ngModel)]="email" placeholder="Enter email" name="email" required>
                        </div>
                    </div>
                <button type="submit"  class="btn btn-primary">Delete</button>
            </div>
            
        </form>
    </div>
</body>

</html>
<!-- (click)="onDelete(deleteForm)" -->