<img src="../../../../assets/review.jpg" alt="review">

<div class="row" style="margin-top: 30px;">
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Name</label>
        <input [(ngModel)]="Name" type="text" class="form-control">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Address</label>
        <input [(ngModel)]="Address" type="text" class="form-control">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Gender</label>
        <input [(ngModel)]="Gender" type="text" class="form-control">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Password</label>
        <input [(ngModel)]="Password" type="text" class="form-control">
      </div>
    </div>
  </div>