<img src="../../../../assets/review.jpg" alt="review">

  <h1>  Create Review </h1>
  <div class="container">
  <div class="row" style="margin-top: 30px;">
    <div class="col-md-6">
      <div class="form-group">
        <label for="Review_id">Review id</label>
        <input [(ngModel)]="Review_id" type="text" class="form-control">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Address</label>
        <input [(ngModel)]="Address" type="text" class="form-control">
      </div>
    </div>
  </div>
  <button class="button" type="submit">Purchase</button>
</div>
