<!DOCTYPE html>
<html lang="en">

<head>
  <title>Create Employee</title>
  <link rel="stylesheet" type="text/css" href="/Client/src/app/components/create-emp/create-emp.component.css">

</head>

<body>
  <div class="page-header">
    <div class="mb-sm-3">
      <h3>Register Employee</h3>
    </div>
  </div>

  <div class="container">
  
    <form #reg="ngForm"  (ngSubmit)="onsubmit1(reg)" ngNativeValidate>
      <div id="rcorners2">
        <div class="mb-sm-3">
          <div class="form-row">
              <div class="col">
                  <label for="empID">Employee ID</label>
                  <input type="text" class="form-control" [(ngModel)]="empID" placeholder="Enter Employee ID"
                    name="empID" required>
                </div>
            <div class="col">
              <label for="name">Name:</label>
              <input type="name" class="form-control" [(ngModel)]="empName" placeholder="Enter name" name="empName"
                pattern="^[a-zA-Z]*$" required>
            </div>
          </div>
        </div>
        <div class="mb-sm-3">
            <div class="form-row">
       
          <div class="col">
            <label for="designation">Designation</label>
            <input type="name" class="form-control" [(ngModel)]="empDesignation" placeholder="Enter designation"
              name="empDesignation" required>
          </div>
          <div class="col">
            <label for="department">Department Name</label>
            <input type="text" class="form-control" [(ngModel)]="empDepartment" placeholder="Enter department name"
              name="empDepartment" required>
          </div>
            </div>
        </div>

        
        <div class="mb-sm-3">
          <div class="form-row">
            <div class="col">
              <label for="DOB">Date of Birth</label>
              <input type="text" class="form-control" [(ngModel)]="empDOB" placeholder="Enter DOB" name="empDOB"
                bsDatepicker required>
            </div>
            <div class="col">
              <label for="DOJ">Date of Joining</label>
              <input type="text" class="form-control" [(ngModel)]="empDOJ" placeholder="Enter DOJ" name="empDOJ"
                bsDatepicker required>
            </div>
          </div>
        </div>
        <div class="mb-sm-3">
          <div class="form-row">
              <div class="col">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" [(ngModel)]="email" placeholder="Enter email" name="email"
                    required>
                </div>
            <div class="col">
              <label for="phn">Phone Number</label>
              <input type="text" class="form-control" [(ngModel)]="mobileNo" placeholder="Enter phone number" name="mobileNo"
                pattern="^\d{10}$" required>
            </div>
          </div>
        </div>

            <div class="mb-sm-3">
                <div class="form-group">
                  <label for="gender">Gender:</label>
                  <input type="radio" value="Male" class="m-2 bg-primary d-inline-block" [(ngModel)]="gender" name="gender" checked>Male
                  <input type="radio" value="Female" class="m-2 bg-primary d-inline-block" [(ngModel)]="gender" name="gender">Female
                  <input type="radio" value="other" class="m-2 bg-primary d-inline-block" [(ngModel)]="gender" name="gender">Other
                </div>
            </div>
            <div class="mb-sm-3">
              <div class="form-row">
            <div class="col">
              <label for="mgrId">Manager ID</label>
              <input type="text" class="form-control" [(ngModel)]="managerID" placeholder="Enter Manager ID"
                name="managerID" required>
            </div>
         
        
            <div class="col">
              <label for="password">Password</label>
              <input type="password" class="form-control" [(ngModel)]="password" placeholder="Enter password"
                name="password" required>
            </div>
          </div>
        </div>
           
        
        
        <div class="checkbox">
          <label><input type="checkbox" name="remember"> Remember me</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>







  </div>

</body>

</html>